
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: break-all;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.containeryt {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.videoyt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
